@tailwind base;
@tailwind components;
@tailwind utilities;

/* _____________________________________________________________________CSS Starting_________________________________________________________________________________*/

.container-fluid {
  background-color: #121228;
}
#BYC {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 42px;
  line-height: 64px;
  text-transform: uppercase;
  color: #ffffff;
}
#colform{
  padding: 0px;
}
#imgcolmain2{
  padding: 0px;
}
#email {
  box-sizing: border-box;
  width: 80%;
  height: 44px;
  background: #ffffff;
  border: 1px solid #181846;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.03);
  border-radius: 6px;
}
#btn {
  width: 80%;
  height: 44px;
  background: #121228;
  box-shadow: 0px 0px 23px 8px rgba(120, 255, 214, 0.1);
  border-radius: 6px;
  /* border: 1px solid #ffffff; */
  
  background: transparent;
  padding: 0.5rem 1rem;
  background-image: linear-gradient(90deg, #121228, #121228),
    linear-gradient(45deg, #A8FF78, #78FFD6);
  background-clip: padding-box, border-box;
  background-origin: border-box;
  border: 2px solid transparent;


  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
}


#heading {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 800;
  font-size: 45px;
  line-height: 68px;

  color: #ffffff;
}
#midimgbackground {
  background-image: url("/backgroundpic.png");
}
#paragraph {
  width: 241px;
  height: 30px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  color: #ffffff;
}
#imgfooter {
  position: relative;
  padding: 8px;
  border-radius: 5px;
  background: #121228;
}
#footerparas {
  display: flex;
}
#footerp1 {
  width: 146px;
  height: 30px;
  float: right;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 29px;
  color: #ffffff;
}
#footerp2 {
  width: 76px;
  height: 30px;
  float: inline-end;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 29px;
  color: #ffffff;
}

/* Light theme */
body.light .container-fluid {
  background-color: #ffffff;
  color: #121228;
}
body.light #headingmain,
body.light input,
body.light #footerp1,
body.light #footerp2,
body.light #Theme,
body.light #paragraph,
body.light #email,
body.light #heading,
body.light #footerparas,
body.light #imgfooter,
body.light #imgmain1,
body.light #imgmain2,
body.light #paragraph {
  /* background-color: white; */
  color: #121228;
}

body.light #btn {
  background-color: #121228;
  color: #ffffff;

  box-shadow: 0px 0px 23px 8px rgba(120, 255, 214, 0.1);
}

body.light .dropbtn {
  background-color: #ffffff;
  color: #797979;
}

body.light span {
  color: #121228;
}

/* Dark theme */
body.dark #mainpage {
  background-color: #121228;
  color: #f5f5f5;
}

/* ------------------Dropdown---------------------- */
#Theme {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 33px;
  color: #ffffff;
  margin-right: 8px;
  margin-top: 2px;
}
/* Style the button that triggers the dropdown */
.dropbtn {
  box-sizing: border-box;
  width: 124px;
  height: 44px;
  color: #797979;
  background-color: #161631;
  border: 1px solid #181846;
  border-radius: 6px;
}

/* Style the dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
  background-color: #797979;
  border-radius: 6px;
}

/* Style the links inside the dropdown */
.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  box-sizing: border-box;
  width: 124px;
  height: 44px;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
/* -------------------------------------------- */

@media screen and (max-width: 990px) {
  #imgmain2 {
    display: block;
    /* padding-left: 30px; */
  }
  #imgmain1 {
    display: none;
  }
  #rowform {
    margin: 0 auto;
  }
  #rowheading{
    /* padding-left: 30px; */
  }
  #email {
    width: 100%;
  }
  #btn {
    width: 100%;
  }
}
@media screen and (min-width: 990px) {
  #imgmain1 {
    display: flex;
    justify-content: center;
  }
  #imgmain2 {
    display: none;
  }
  #maincontainer {
    height: 120vh;
  }
}
